$mobileMaxWidth: 760px;

@mixin mobile {
  @media (max-width: $mobileMaxWidth) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $mobileMaxWidth) {
    @content;
  }
}

@mixin image($url) {
  background-image: url(#{$url});
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}