@import 'sass/commons.scss';

.authent-page {
  display: flex;
  height: 100%;

  &__form-container {
    background: $black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6rem 6rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    input {
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:first-child){
        margin-top: 2rem;
      }
    }

    button {
      margin-top: 2rem;
    }
  }
  
  &__signup {
    color: white;
    font-size: 16px;
    margin-top: 1rem;
  }

  &__account-created {
    font-size: 24px;
    color: white;
  }
}